<div [formGroup]="studentForm">

  <div class="formgrid grid m-auto">
    <div class="col-6 my-3">
      <div class="flex flex-column gap-2">
        <label for="username">Nombre</label>
        <input pInputText formControlName="name" />
      </div>
    </div>

    <div class="col-6 my-3">
      <div class="flex flex-column gap-2">
        <label for="username">Apellido</label>
        <input pInputText formControlName="lastName" />
      </div>
    </div>

    <div class="col-6 my-3">
      <label class="block mb-2" for="locale-user">Numero de Documento</label>
      <p-inputNumber mode="decimal" inputId="withoutgrouping" [useGrouping]="false"
        formControlName="documentNumber"></p-inputNumber>
    </div>

    <div class="col-6 my-3">
      <label class="block mb-2" for="locale-user">Cohorte</label>
      <p-inputNumber mode="decimal" inputId="withoutgrouping" [useGrouping]="false"
        formControlName="cohort"></p-inputNumber>
    </div>
  </div>

  <div class="flex justify-content-between flex-wrap m-2">
    <div class="flex align-items-center justify-content-center">
      <p-button (onClick)="cancelForm()" label="Cancelar" severity="danger"></p-button>
    </div>

    <div class="flex align-items-center justify-content-center">
      <p-button (onClick)="onSave()" label="Guardar" severity="success"></p-button>
    </div>
  </div>
</div>
