<div class="card">
  <div class="flex flex-row-reverse flex-wrap">
    <p-button (click)="showDialog()" [disabled]="!(this.seletedCourses.length <= 1)" class="mx-1" icon="pi pi-plus"
      [rounded]="true" severity="success"></p-button>
    <p-button (click)="showDialog()" class="mx-1" icon="pi pi-pencil" [rounded]="true"
      [disabled]="!(this.seletedCourses.length == 1)" severity="danger"></p-button>
    <p-button (click)="deleteCourses($event)" [disabled]="(this.seletedCourses.length < 1)" class="mx-1" icon="pi pi-trash" [rounded]="true"></p-button>
    <p-confirmDialog [transitionOptions]="'300ms'"/>
  </div>
  <p-table [value]="courses" [(selection)]="seletedCourses" (selectionChange)="onSelectionChange($event)"
    dataKey="oid" [rowSelectable]="isRowSelectable" selectionMode="multiple" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="min-width:50px">ID</th>
        <th style="min-width:150px">Nombre</th>
        <th style="min-width:150px">Limite de estudiantes</th>
        <th style="min-width:150px">Aula Asignada</th>
        <th style="min-width:150px">Año de dictado</th>
        <th style="min-width:150px">Cuatrimeste Designado</th>
        <th style="min-width:150px">Informacion de Alumnos asignados</th>
        <th style="min-width:150px">Informacion de profesores asignados</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course>
      <tr>
        <td>
          <p-tableCheckbox [value]="course"></p-tableCheckbox>
        </td>
        <td>{{course.oid}}</td>
        <td>{{course.subject}}</td>
        <td>{{course.student_limit}}</td>
        <td>{{course.classroomName}}</td>
        <td>{{course.dictationYear}}</td>
        <td>{{course.fourMonthPeriod}}</td>
        <td><p-button (click)="detailsStudent(course.students)" class="mx-1" icon="pi pi-users"/></td>
        <td><p-button (click)="detailsTeacher(course.teachers)" class="mx-1" icon="pi pi-users"/></td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [style]="dialogStyles" header="Formulario Cursos" [closable]="false" [(visible)]="visibleModal"
    [modal]="true" [draggable]="false" [resizable]="false">
    <p-divider></p-divider>

    <course-form *ngIf="visibleModal" (showDialogEvent)="recieveDialogEvent($event)"
      [courseElement]="courseElement"></course-form>

  </p-dialog>

  <p-dialog [style]="dialogDetails" header="Detalle de alumnos" [closable]="false" [(visible)]="visibleModalDetailStudent"
    [modal]="true" [draggable]="false" [resizable]="false">
    <p-divider></p-divider>

    <student-detail *ngIf="visibleModalDetailStudent" (showDialogEvent)="recieveDialogEventStudent($event)"
      [listStudent]="detailStudents"></student-detail>

  </p-dialog>

  <p-dialog [style]="dialogDetails" header="Detalle de profesores" [closable]="false" [(visible)]="visibleModalDetailTeacher"
    [modal]="true" [draggable]="false" [resizable]="false">
    <p-divider></p-divider>

    <teacher-detail *ngIf="visibleModalDetailTeacher" (showDialogEvent)="recieveDialogEventTeacher($event)"
      [listTeacher]="detailTeachers"></teacher-detail>

  </p-dialog>
</div>

<p-toast [showTransitionOptions]="'500ms'"/>
