<div class="card">
  <div class="flex flex-row-reverse flex-wrap">
    <p-button (click)="showDialog()" [disabled]="!(this.seletedTeachers.length <= 1)" class="mx-1" icon="pi pi-plus"
      [rounded]="true" severity="success"></p-button>
    <p-button (click)="showDialog()" class="mx-1" icon="pi pi-pencil" [rounded]="true"
      [disabled]="!(this.seletedTeachers.length == 1)" severity="danger"></p-button>
    <p-button (click)="deleteTeachers($event)" [disabled]="(this.seletedTeachers.length < 1)" class="mx-1" icon="pi pi-trash" [rounded]="true"></p-button>
    <p-confirmDialog [transitionOptions]="'300ms'"/>
  </div>
  <p-table [value]="teachers" [(selection)]="seletedTeachers" (selectionChange)="onSelectionChange($event)"
    dataKey="oid" [rowSelectable]="isRowSelectable" selectionMode="multiple" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="min-width:200px">ID</th>
        <th style="min-width:200px">Nombre</th>
        <th style="min-width:200px">Apellido</th>
        <th style="min-width:200px">Numero de Documento</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-teacher>
      <tr>
        <td>
          <p-tableCheckbox [value]="teacher"></p-tableCheckbox>
        </td>
        <td>{{teacher.oid}}</td>
        <td>{{teacher.name}}</td>
        <td>{{teacher.lastName}}</td>
        <td>{{teacher.cohort}}</td>
        <td>{{teacher.documentNumber}}</td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [style]="dialogStyles" header="Formulario Profesor" [closable]="false" [(visible)]="visibleModal"
    [modal]="true" [draggable]="false" [resizable]="false">
    <p-divider></p-divider>

    <teacher-form *ngIf="visibleModal" (showDialogEvent)="recieveDialogEvent($event)"
      [teacherElement]="teacherElement"></teacher-form>

  </p-dialog>
</div>

<p-toast [showTransitionOptions]="'500ms'"/>
